*{
    font-family: Rubik;
}
body{
    margin:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
}
#map{
    height:500px;
}
.top{
    background:url("pattern-bg-desktop.png");
    background-size:cover;
    background-position:center;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:30px 0px;

}
.top h2{
    margin:0;
    color:white;
}
.top .input{
    display:flex;
    align-items:center;
    background:white;
    border-radius:15px;
    height:55px;
    width:350px;
    margin-top:20px;
    margin-bottom:10px;
    justify-content:space-between;
}
.top .input input{
    width:90%;
    height:100%;
    border:none;
    background: transparent;
    outline:none;
    padding-left:15px;
    box-sizing: border-box;
}
.top .input input::placeholder{
    color:hsl(0, 0%, 58%)
}
.top .input button{
    background:black;
    border:none;
    display:flex;
    align-items:center;
    height:100%;
    padding:0px 20px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}
.top .input button:hover{
    background:#222;
}
.top .input button:active{
    background:#111;
}
.top .input button img{
    width:10px;
}
#outBox{
    display:flex;
    align-items:center;
}
#box{
    display:flex;
    justify-content:space-evenly;
    background:white;
    border-radius:20px;
    /*align-items:center;*/
    margin-top:10px;
    padding:20px 0px;
    width:800px;
    /*position:absolute;
    top:150px;
    left:50%;
    transform:translate(-50%,0);*/
    box-shadow:0px 10px 10px rgba(0,0,0,0.1);
    /*z-index:10;*/
}
#box .line{
    background:red;
    width:1px;
    height:40px;
    background:hsl(0, 0%, 58%);
    margin:0px 35px;
    display:none;
}
#box .info{
    width:20%;
    padding-right:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
}
#box .info label{
    font-size:10px;
    color:hsl(0, 0%, 58%);
    text-transform:uppercase;
    text-align:center;
}
#box .info p{
    font-size:20px;
    text-align:center;
    font-weight:bold;
    text-transform:capitalize;
    color:hsl(0, 0%, 17%);
    margin:0;
    margin-top:8px;
}
.responseMessage{
    width:300px;
    padding:20px 30px;
    position:fixed;
    top:5%;
    left:50%;
    transform:translate(-50%,0);
    opacity:0;
    animation:fadeIn 0.4s ease-in forwards;
    display:none;
}

@keyframes fadeIn{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.responseMessage p, .responseMessage h4{
    margin:0px;
}
#failureMessage{
    background:#EBCAB1;
    box-shadow:-4px 0px 0px #C90D0C;
}
#successMessage{
    background:#CEE9DA;
    box-shadow:-4px 0px 0px #00AF4B;
    /*border:solid 2px #3F865E;*/
}
.responseMessage p{
    font-size:13PX;
}
#successMessage p, #successMessage h4{
    color:#4ADE80;
    color:#00AF4B;
}
#failureMessage p, #failureMessage h4{
    color:#C90D0C;
}
.fixedBtn{
    position:fixed;
    bottom:10%;
    right:10%;
    background:rgba(0,0,0,0.8);
    border:none;
    outline:none;
    padding:10px;
}
.fixedBtn i{
    color:white;
    font-size:15px;
}
#showBox{
    display:none;
}


@media screen and (max-width:600px){
.top{
    background:url("pattern-bg-mobile.png");
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:30px 0px;
}
.top .input{
    display:flex;
    align-items:center;
    background:white;
    height:55px;
    width:80%;
    margin-top:20px;
}
#outBox{
    width:70%;
}
#box{
    display:flex;
    flex-direction:column;
    background:white;
    border-radius:20px;
    align-items:center;
    margin-top:10px;
    padding:0px 0px;
    padding-bottom:10px;
    width:100%;
}
#box .line{
    display:none;
}
#box .info{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:30px;
    margin-bottom:10px;
}
.top .input button{
    padding:0px 15px;
}
#box .info{
    width:90%;
}
.responseMessage{
    width:70%;
    padding-left:20px;
    padding-right:-20px;
}
}